body {
    font-family: Arial, sans-serif;
    background-color: aqua;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

/* .designer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 30px;
} */

.cup-container {
    position: relative;
    width: 200px;
    height: 300px;
    /* margin: 0; */
    border-radius: 0 0 100px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cup-container i {
    position: relative;
    font-size: 30px;
    cursor: grab;
    overflow: hidden;
    /* z-index: 3; */
}

.overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-blend-mode: multiply;
        background-color: transparent;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        mix-blend-mode: multiply;
        opacity: 0.6;
        pointer-events: none;
        transition: 0.3s ease-in-out;
        z-index: 2;
    }

#glassImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

.cup {
    width: 200px;
    height: 250px;
    background-color: #f2c305;
    border-radius: 0 0 100px 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -10px 15px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom, #fff2cc, #ffcc00);
    transition: background-color 0.3s;
    overflow: visible;
}

/* .handle {
    position: absolute;
    top: 60px;
    right: -30px;
    width: 40px;
    height: 120px;
    border: 12px solid#ffcc00;
    border-radius: 100px / 180px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-left-color: transparent;
     border-bottom-color: transparent; 
     background-color: transparent;
    box-shadow: inset 2px 0 6px rgba(0,0,0,0.3);;
    z-index: 5; 
} */

#cupText {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
    pointer-events: none;
    z-index: 2;
    color: #333;
    text-shadow: 0 0 3px white;
}

.cup p {
    font-size: 20px;
    color: #333;
}

.controls {
   max-width: 300px;
   text-align: left;
}

.controls label {
   display: block;
   margin: 15px 0 5px 0;
   font-weight: bold;
}

#stickerContainer button {
    font-size: 24px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 8px;
}

#stickerContainer button:hover {
background-color: #ddd;
}

.sticker-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}

.sticker-layer i {
    position: absolute;
    font-size: 30px;
    cursor: grab;
    pointer-events: all;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.image-grid img {
   width: 150px;
   height: 150px;
   object-fit: cover;
   border-radius: 10px;
   transition: transform 0.3s ease;
   cursor: pointer;
}

.image-grid img:hover {
    transform: scale(1.05);
}

#searchInput {
    width: 300px;
    padding: 8px 12px;
    font-size: 16;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1.5px solid #ccc;
    transition:  border-color 0.3s ease;
}

#searchInput:focus {
    outline: none;
    border-color: #ffcc00;
    box-shadow: 0 0 5px #ffcc00;
}

#searchInput:hover {
    background-color: #eee;
   transform: scale(1.2);
   transition: transform 0.2s;
}


